<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="tabs">
        <form method="get" action="/">
            <button type="submit" id="btn-header">
                Home
            </button>
        </form>
        <form method="get" action="/register">
            <button type="submit" id="btn-header">
                Register
            </button>
        </form>
        <form method="get" action="/login">
            <button type="submit" id="btn-header">
                Login
            </button>
        </form>
    </div>