<%- include('Header.ejs') %>
    <ul id='list_ofsecrets'>
        <% data.forEach(element=> { %>
            <li id="list_content">
                <%= element.secret%>
            </li>
            <% }); %>
    </ul>
    <div id="add_id">
        <form method="post" action="/inputsecret">
            <label>Add new secret: </label>
            <input type="hidden" name="id" value="<%= id %>">
            <input type="text" id="input-secret" name="secret">
            <button type="submit" id="input-secret-submit">Submit</button>
        </form>
    </div>
    </body>
    <a href="/logout" class="logout-link">Log Out</a>

    </html>